@model SearchModel
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="d-flex input-group w-auto" asp-action="Search" asp-controller="Book" method="post">
    <input asp-for="Filter" type="search" class="form-control" placeholder="Type query" aria-label="Search" />
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        @Localizer["Search"]
    </button>
</form>
