<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<meta charset="utf-8">
	<title>Book</title>

	<link rel="stylesheet" href=@Url.Content("~/css/main.css") rel="stylesheet" asp-append-version="true">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<header id="header" id="home">
	
</header>

<div class="container">

	<main role="main" class="pb-3">
		@RenderBody()
	</main>

</div>

@await RenderSectionAsync("Scripts", required: false)

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<script src=@Url.Content("~/js/vendor/jquery-2.2.4.min.js") asp-append-version="true"></script>


	<footer class="footer">
		
	</footer>	


</body>
</html>
